{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<h1 style="padding: 10px; margin: 20px">Tasky</h1>
<table style="text-align: center; margin: auto">
  <tr style="margin: 20px; padding: 20px">
    <td colspan="5">
      <form action="/" method="POST" style="margin: auto; text-align: center">
        <input type="text" name="content" />
        <input type="submit" value="Add Task" />
      </form>
    </td>
  </tr>
  {% if tasks|length %}
  <tr>
    <th>TaskID</th>
    <th>Task</th>
    <th>Completed</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  <tr>
    {% for task in tasks %}
    <td>{{ task.id }}</td>
    <td>{{ task.content }}</td>
    <td>{{ task.completed}}</td>
    <td>{{ task.date_created.date() }}</td>
    <td>
      <a href="tasks/update/{{ task.id }}">Update</a>
      <form action="tasks/delete/{{ task.id }}" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %} {% else %}
  <tr>
    <td colspan="5">It's time to create your first Task!</td>
  </tr>
  {% endif %}
</table>

{% endblock %}
