{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<h1>Home</h1>
<table>
  <tr>
    <th>TaskID</th>
    <th>Task</th>
    <th>Completed</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{ task.id }}</td>
    <td>{{ task.content }}</td>
    <td>{{ task.completed}}</td>
    <td>{{ task.date_created.date() }}</td>
    <td>
      <a href="tasks/update/{{ task.id }}">Update</a>
      <form action="tasks/delete/{{ task.id }}" method="POST">
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %}
</table>

<form action="/" method="POST">
  <input type="text" name="content" />
  <input type="submit" value="Add Task" />
</form>

{% endblock %}
