{% extends 'base.html' %} {% block head %}
<title>Home</title>
{% endblock %} {% block body %}
<!-- <h1 style="padding: 10px; margin: 20px">Tasky</h1> -->
<table style="text-align: center; margin: auto">
  <tr style="margin: 20px; padding: 20px">
    <td colspan="5">
      <form action="/" method="POST" style="margin: auto; text-align: center">
        {{ form.csrf_token }}

        <input type="text" name="content" placeholder="Title" />
        {% if form.content.errors %}
        <p
          style="color: red; font-size: 78%; margin: auto; margin-bottom: 10px"
        >
          {% for error in form.content.errors %} {{ error }} {% endfor %}
        </p>
        {% endif %}
        <input type="number" name="priority" placeholder="Task Priority" />
        {% if form.priority.errors %}
        <p
          style="color: red; font-size: 78%; margin: auto; margin-bottom: 10px"
        >
          {% for error in form.priority.errors %} {{ error }} {% endfor %}
        </p>
        {% endif %}
        <input class="button" type="submit" value="Add Task" />
      </form>
    </td>
  </tr>
  {% if tasks|length %}
  <tr>
    <th>TaskID</th>
    <th>Task</th>
    <th>Completed</th>
    <th>Priority</th>
    <th>Due Date</th>
    <th>Actions</th>
  </tr>
  <tr>
    {% for task in tasks %}
    <td>{{ task.id }}</td>
    <td>{{ task.content }}</td>
    <td>{{ task.completed}}</td>
    <td>{{ task.priority }}</td>
    <td>{{ task.date_created.date() }}</td>
    <td>
      <a href="tasks/update/{{ task.id }}">Update</a>
      <form action="tasks/delete/{{ task.id }}" method="POST">
        {{ form.csrf_token }}
        <input type="submit" value="Delete" />
      </form>
    </td>
  </tr>
  {% endfor %} {% else %}
  <tr>
    <td colspan="5">It's time to create your first Task!</td>
  </tr>
  {% endif %}
</table>

{% endblock %}
